<h1>Enter New Bottle</h1>

<form action="/bottles" method="POST">
  <br>

  <label>Choose a wine type:</label><br />
  <%@bottle_types.each do |bottle|%>
    <input type="radio" name="type" value="<%=bottle.wine_type%>" id="wine_type"><%=bottle.wine_type%><br />
  <%end%>
  <label>Or add a new wine type:</label><input type="text" name="wine_type">
  <br></br>

  <label>Choose a winery:</label><br />
  <%@wineries.each do |winery|%>
    <input type="radio" name="winery_name" value="<%=winery.name%>" id="winery_name"><%=winery.name%><br />
  <%end%>
  <label>Or add a New Winery:</label><input type="text" name="winery">
  <br></br>
  
  <label>Year:</label><input type="integer" name="year"><br>
  <label>Price:</label><input type="integer" name="price">
  <br>

  <button>Submit</button>

</form>
