<h1>Enter New Bottle</h1>

<form action="/bottles" method="POST">
  <br></br>

  <label>Type:</label><input type="text" name="wine_type"></br>
  <label>Winery:</label><input type="text" name="winery"></br>
  <label>Year:</label><input type="integer" name="year"></br>
  <label>Price:</label><input type="integer" name="price"></br>

  <br></br>

  <input type="submit" value="Submit">

</form>
