<h3>Update Winery</h3>
<br><br />
<form action="/wineries/<%=@winery.id%>" method="POST">
  <input type="hidden" name="_method" value="PATCH">

  <label>Name:</label>
  <input type="text" name="name" id="name" value="<%=@winery.name%>"><br />
  <br><br />
  <input type="submit" value="Edit Winery">
</form>
