<h3>The Virtual Wine Cellar Wineries Universe</h3>

<ul>
  <%@wineries.each do |winery|%>
    <li><%=winery.id%> - : <%=winery.name%></li>
  <%end%>
</ul>
<br />

<a href="/owners/cellar">Return to your Cellar</a><br />
