<h3>The Virtual Wine Cellar Wineries Universe</h3>

<ul>
  <%@wineries.each do |winery|%>
    <li><a href="/wineries/<%="#{winery.id}"%>"><%=winery.name%></a></li>
  <%end%>
</ul>
<br />


<a href="/cellar"><button>Back to Your Cellar</button></a><br />
