<h1>Enter New Winery</h1>

<form action="/wineries/new" method="POST">
  <br></br>

  <label>Name:</label><input type="text" name="name"></br>



  <br></br>

  <input type="submit" value="Submit">

</form>
