<h3>Winery</h3>

<p><%=@winery.name%></p>

<a href="/wineries/<%="#{@winery.id}"%>/bottles"><button>All Bottles From this Winery</button></a>
<a href="/cellar"><button>Back to Your Cellar</button></a><br />
