<h3>Your Winery</h3>

<p><%=@winery.name%></p>

<a href="/wineries/<%="#{@winery.id}"%>/all">See all bottles in cellar universe by this winery</a><br />
<a href="/owners/cellar">Return to your Cellar</a><br />
