<div class="container">

  <div class="col-md-8 col-md-offset-2">
    <h1>Welcome to Virtual Wine Cellar</h1>

    <div class="content">

        <a href="/signup"><button>Sign up</button></a><br>
        <br>
        <a href="/login"><button>Log in</button></a>
        <br>
        <br>


    </div>



  </div>
</div>
